.bot_li {
	text-align:right;
	padding:10px 0px;
	width:98%;
	margin:0px auto
}
.bot_li_a {
	text-align:right;
	padding:10px 0px;
	width:100%;
	margin:0px auto
}
.box_elements_grid {
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border-spacing:0px;
}
.box_elements_grid td {
	width:25%;
	border:1px solid #acacac;
	border-top:0px;
	background:#FFF;
}
.v1_area_a {
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:22px;
	text-align:center;
	color:#f07070;
}
.v2_area_a {
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:22px;
	text-align:center;
	color:#737cf3;
}
.v3_area_a {
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:22px;
	text-align:center;
	color:#cc3366;
}
ul {
	padding:0px;
	margin:0px
}
.but_y_a {
	text-align:right;
	padding:10px 0px;
	width:98%;
	margin:0px auto
}
.wird_first {
	width:15%
}
.wird_second {
	width:40%
}
.wird_third {
	width:15%
}
.thumb {
	width:50px;
	height:50px
}
.style_a {
	width:99%;
	margin:0px auto;
	padding:10px 5px;
	border:1px solid #f17171
}
.style_b {
	width:99%;
	margin:0px auto;
	padding:10px 5px;
	border:1px solid #717af1
}
.style_c {
	width:99%;
	margin:0px auto;
	padding:10px 5px;
	border:1px solid #cc3366
}
.header {
	padding:10px 10px;
	background: rgba(202, 202, 202, 1);
	background: -moz-linear-gradient(top, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 1) 4%, rgba(227, 225, 225, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202, 202, 202, 1)), color-stop(4%, rgba(202, 202, 202, 1)), color-stop(100%, rgba(227, 225, 225, 1)));
	background: -webkit-linear-gradient(top, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 1) 4%, rgba(227, 225, 225, 1) 100%);
	background: -o-linear-gradient(top, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 1) 4%, rgba(227, 225, 225, 1) 100%);
	background: -ms-linear-gradient(top, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 1) 4%, rgba(227, 225, 225, 1) 100%);
	background: linear-gradient(to bottom, rgba(202, 202, 202, 1) 0%, rgba(202, 202, 202, 1) 4%, rgba(227, 225, 225, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#e3e1e1', GradientType=0 );
	border-bottom:1px solid #000
}
.wrapper_outer {
	padding:0px;
	background:#FFF;
	padding-bottom:10px
}
.clear {
	clear:both
}
.inside_rout {
	border-radius:8px;
	background:#e5e5e5;
	border:2px solid #878787;
}
.middle_side_area {
	background:url(../images/middle_repeater.jpg) repeat-x;
	height:20px;
	width:100%;
}
.box_shaod {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(151, 151, 151, 1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(151, 151, 151, 1);
	box-shadow: 0px 5px 5px 0px rgba(151, 151, 151, 1);
	padding:15px 0px;
	background:#e5e5e5;
	border-radius:0px 0px 8px 8px;
}
.user_style {
	color:#009aff;
	padding-top:15px
}
.search_title {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	padding:11px 10px;
	font-family: 'futura_lt_btlight';
	font-size:22px;
	color:#0098ff;
	font-weight:normal
}
.outlet_name {
	text-align:left;
	padding:10px 10px;
	color:#262525;
	font-size:18px
}
.footer {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	padding:10px 0px;
	font-size:14px;
	color:#FFF;
	font-weight:normal;
	margin-top:25px;
}
.select_max {
	border-radius:5px;
	padding:5px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px
}
.grid_section {
	padding:10px
}
.grid_section_tab {
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border-spacing:0px
}
.grid_section_tab th {
	background:#FFF;
	padding:5px;
	text-align:left;
	font-family: 'futura_lt_btlight';
	font-size:16px;
	border-bottom:1px solid #0092ff
}
.grid_section_tab td {
	background:#FFF;
	padding:5px;
	text-align:left;
	font-family: 'futura_lt_btlight';
	font-size:16px;
}
.grid_section_t_a {
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border-spacing:0px
}
.grid_section_t_a thead {
	border:1px solid #0092ff;
}
.grid_section_t_a th {
	background:#e2e0e0;
	padding:5px;
	text-align:left;
	font-family: 'futura_lt_btlight';
	font-size:16px;
}
.grid_section_t_a tbody {
	border:1px solid #0092ff;
}
.grid_section_t_a td {
	background:#e2e0e0;
	padding:5px;
	text-align:left;
	font-family: 'futura_lt_btlight';
	font-size:16px;
}
.small_box {
	width:20%;
	float:left;
	margin-right:10px
}
.select_max_a {
	border-radius:5px;
	padding:5px;
	width:90%
}
.b_tit {
	text-align:left;
	padding:10px 0px;
}
.assest_flow {
	padding:10px;
	margin:0px
}
.flow_assest_top {
	border:1px solid #8a8a8a;
	border-bottom:0px;
	padding:10px;
	text-align:center;
	background:#ececec;
	width:30%;
	border-radius:12px 12px 1px 1px;
	text-align:center;
	color:#0092ff;
	font-size:18px;
	margin-left:10px;
	float:left
}
.flow_assest_bg {
	border:1px solid #8a8a8a;
	padding:10px;
	text-align:left;
	background:#ececec;
	border-radius:4px;
}
#actions {
}
div.table {
	display: table;
}
div.table .file-row {
	display: table-row;
}
div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}
div.table .file-row:nth-child(odd) {
background: #f9f9f9;
}
#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
#previews .file-row .delete {
	display: none;
}
#previews .file-row.dz-success .start, #previews .file-row.dz-success .cancel {
	display: none;
}
#previews .file-row.dz-success .delete {
	display: block;
}
.inner_section_page {
	margin-top:20px
}
.inner_section_page_sec {
	padding:0px 0px;
}
.main_page_title {
	font-size:18px;
	color:#000;
	text-align:center;
	background:#ececec;
	border:1px solid #bbbbbb;
	padding:10px 0px;
	border-bottom:0px;
	width:30%;
	border-radius:8px 8px 0px 0px
}
.main_page_left {
	font-size:18px;
	color:#000;
	text-align:center;
	background:#ececec;
	border:1px solid #bbbbbb;
	padding:10px 0px;
	border-bottom:0px;
	width:40%;
	border-radius:8px 8px 0px 0px;
	float:left
}
.main_page_area {
	width:100%;
	margin:0px auto;
	padding:5px 5px 0px 5px;
	background:#ececec;
	border:1px solid #bbbbbb;
}
.loop_content {
	margin:0px auto;
	background:#ececec;
	border:1px solid #bbbbbb;
}
.drag_to {
	border:1px solid #b9b9b9;
	margin-bottom:10px;
	padding:10px;
	text-align:left;
	background:#e2e2e2
}
#dragable_grid {
	width:98%;
	margin:0px auto;
	padding:10px;
	border-collapse:collapse;
	border-spacing:0px;
}
#dragable_grid td {
	font-weight:400;
	text-align:left
}
#dragable_grid th {
	font-weight:700;
	text-align:left;
	font-size:14px
}
ul#left {
	color: green;
}
ul#right {
	color: red;
}
.clear {
	clear:both
}
.drag_area {
	border:1px dashed #039;
	padding:10px;
	text-align:center;
	height:50px;
	margin-top:15px;
	margin-bottom:15px
}
.my_row_style {
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border-spacing:0px;
}
.my_row_style td {
	border:1px solid #acacac;
	background:#FFF;
	font-size:12px;
	padding:5px 10px;
}
.mention_assest {
	background:#fff;
	padding:5px;
	text-align:center;
	color:#000;
	font-size:14px
}
.middle_section {
	width:100%;
	margin:0px auto
}
.section_left {
	float:left;
	width:49%
}
.section_right {
	float:right;
	width:49%
}
.v1 {
	background:#f27272;
	text-align:center;
	padding:5px;
	color:#FFF
}
.v2 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background:#ff0000;
	color:#fff
}
#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
#previews .file-row .delete {
	display: none;
}
#previews .file-row.dz-success .start, #previews .file-row.dz-success .cancel {
	display: none;
}
#previews .file-row.dz-success .delete {
	display: block;
}
.col {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}
#col1 {
	width: 100%;
	height:auto;
	border:1px solid black;
}
img.drag {
	width: 40px;
	position:relative;
}
#droppable {
	width:100%;
	height: 100px;
	border: 1px solid black;
	background:#f17171;
	margin-bottom:10px;
	margin-top:5px;
}
#droppable2 {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background:#717af1;
	margin-bottom:10px;
	margin-top:5px;
}
#lib2droppable {
	width:100%;
	height: 100px;
	border: 1px solid black;
	background:#f17171;
	margin-bottom:10px;
	margin-top:5px;
}
#lib2droppable2 {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background:#717af1;
	margin-bottom:10px;
	margin-top:5px;
}
#lib2droppable3 {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background:#C36;
	margin-bottom:10px;
	margin-top:5px;
}
#droppable4 {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background:#d404dc;
	margin-bottom:10px;
	margin-top:5px;
}
#droppable5 {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background:#052a6f;
	margin-bottom:10px;
	margin-top:5px;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear: both;
}
ul li {
	list-style: none;
}
.drag-list img {
	width: 80px;
	vertical-align: middle;
	cursor: move;
}
.drag-list ul {
	margin: 0px;
	padding: 0px;
}
.drag-list li {
	margin-bottom: 5px;
}
.remove-drag-hover {
	background-color: #ED4949 !important;
}
.drop-area {
	background-color: #afd1b2;
}
.xicon {
	margin-top: 4px;
	position: absolute;
	margin-left: -17px;
	color: #FFF;
	font: message-box;
	text-decoration: none;
}
.xicon:hover {
	background-color: #fff;
	color: #000;
	width: 13px;
	height: 20px;
	text-align: center;
}
.tip {
	font-size: 12px;
	clear: both;
}
#center-wrapper {
	margin: 0 auto;
	width:100%
}
.column {
	width: 100%;
}
.column.first {
	margin-left: 0;
}
.sortable-list {
	list-style:none;
	margin:0px auto
}
.sortable-item {
	cursor: move;
	display: block;
	font-weight: bold;
	padding: 10px 0;
	text-align:center;
	margin-bottom:5px;
}
.removeClass {
	border:1px solid #df0909;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight:bold;
	color: #FFFFFF;
	margin:0px auto;
	background-color: #f62b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
	background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
	background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
	background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
	background-image: -o-linear-gradient(top, #f62b2b, #d20202);
	background-image: linear-gradient(to bottom, #f62b2b, #d20202);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f62b2b, endColorstr=#d20202);
	margin:0px auto;
	background:#F00;
	border-radius:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	padding:5px;
	color:#FFF;
	font-size:14px;
	margin-top:5px;
	width:40px;
	cursor:pointer;
	text-align:center;
	margin-bottom:10px;
}
.removeClass:hover {
	border:1px solid #b30808;
	background-color: #e40a0a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e40a0a, endColorstr=#9f0202);
}
.box_tem {
	width:80px;
	text-align:center;
	outline:none;
	padding:10px;
	border:1px solid #989898;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	color: #000;
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.board_tr {
	width:100%;
	margin:0px auto
}
.bot_op {
	width:100%;
	margin:0px auto;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #a2a0a0;
}
.bot_op th {
	background:#FFF;
	border-bottom:1px solid #a2a0a0;
	padding:5px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold
}
.bot_op td {
	background:#FFF;
	padding:5px;
	border:0px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal
}
.sortable-list{padding:0px 0px 20px 0px}