.main_page_area{width:100%; margin:0px auto; padding:5px;background:#ececec;}
.drag_area{border:1px solid #afafaf; padding:25px; text-align:center; border-radius:5px}

#actions {
}
/* Mimic table appearance */
    div.table {
	display: table;
}
div.table .file-row {
	display: table-row;
}
div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}
 div.table .file-row:nth-child(odd) {
 background: #f9f9f9;
}
/* The total progress gets shown by event listeners */
    #total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
/* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}
/* Hide the delete button initially */
    #previews .file-row .delete {
	display: none;
}
/* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start, #previews .file-row.dz-success .cancel {
	display: none;
}
#previews .file-row.dz-success .delete {
	display: block;
}