@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*MY CSS*/
/*.pos-rel{ position:relative;}
.ic-ad-sel .form-control-feedback{ right:15px;}
.blouse_mlist .form-group{ margin-bottom:0px !important}
.blouse_mlist1 .form-group{ margin-bottom:0px !important}
.out-stock{ background: #000 none repeat scroll 0 0; top:0px; left:0px;color: #fff;font-size: 28px;height: 100%;opacity: 0.6; padding-top: 60%;position: absolute;text-align: center;vertical-align: middle; width: 100%;z-index: 1500;}*/

.header-bg{ background:#f1ecec;}

.login-wrap{width:40px; float:right; width:240px; text-align:right; position:relative;}
.links { background: #ff0000 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin-top: 5px;
    padding: 3px 6px;text-decoration:none;}
	
.linkarr{border-bottom: 5px solid transparent;
    border-left: 5px dashed;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    width: 0;}
.logout-St{ display:none;background: #f1f1f1 none repeat scroll 0 0;border-radius: 3px; top:31px; width:120px; padding:6px; box-shadow: 0 2px 2px #999; position: absolute;right: 0;  z-index: 10000;}	
.logout-St a{ font-size:14px; display:block; margin-bottom:5px;}
.logout-St a { color:#a927f4;}




.display-none{ display:none !important;}
.navbar-nav > li > a:hover{ color:#fff !important;}
.nav-wrap{padding-bottom:20px;}


.footer{ font-size:13px; background:#000; text-align:center; color:#ddd; padding:10px 0px;}

.dropdown-submenu ul li{ border-bottom:1px solid #ddd;}
.navbar-brand{background:url(../images/logo.png) no-repeat;width:257px;height:53px;}
.cat-switch{ margin-bottom:0px; display:inline-block; height:26px;}
.cat-switch li{ float:left; margin-left:5px;}
.cat-switch li > span{color: #000; cursor:pointer; position:relative;display: inline-block;font-size: 15px; font-weight: normal;  padding: 3px 8px; text-transform: uppercase;}
.select-cat{background: #ddd none repeat scroll 0 0;color: #06afd5 !important;}
.select-cat span{ position:absolute; background:url(../images/sel-cat-arr.png);   bottom: -12px; left:40%; width:14px; height:14px; display:block;}


.header-wrapper{ background:#1b1b1b;}
.title{ font-size:20px; color:#7809bd; margin-top:0px; position:relative;}
.content-block { min-height: 450px; padding-bottom: 25px; width: 100%;}

.ord-table{ margin-top:20px; width:100%; overflow:auto; text-align:left;}
.ord-table a{ color:#a927f4; font-weight:bold;}
.ord-table table{ width:100%;}
.ord-table table th{background: #313131 none repeat scroll 0 0;color: #fff;padding: 10px; }
.ord-table table td{ padding:8px; border-bottom:1px solid #ddd; vertical-align:middle; position:relative;}

.alt{ background:#fff;}
.altbr{ border-bottom:#f1f1f1;}
.mRsearch{ margin-right:5px;}
.mRsearch input[type="text"]{ width:260px;}
.mRsearch select { width:260px;}
.serbut{ float:left;}
.dtval .form-control-feedback{ right:58px;}\
.dtval{ position:relative;}
.mar_top{ margin-top:5px;}
.mar_top10{ margin-top:10px;}

.drag_block{ min-height:300px; border:1px solid #ddd; padding:5px; margin-top:25px; background:#fff;}
.drag_block ul{ min-height:300px;}
.drag_block li{ padding:5px 10px; vertical-align:middle; background:#f1f1f1; z-index:1000; border:1px solid #ddd; margin-bottom:10px;}
.drag_block li table{ width:100%;}
.allowedSpan{ text-align:right; float:right;}
.leftD{ margin-right:2%; width:49%; float:left;}
.rightD{ width:49%; float:left;}
.view-Dreport{ background: #222 none repeat scroll 0 0;border-radius: 3px; color: #fff !important;
    font-size: 14px; font-weight: normal !important; padding: 4px 8px; text-decoration: none;}
.view-Dreport:hover{ background:#000;}	
.col_loven{ color:#933aca;}
.me-nm{ color:#770bbe;}
.mar_top20{ margin-top:20px;}
.show_sel{ margin-top:10px;}

.show_sel a{ text-decoration:none;  color:#933aca;}
.col-black{ color:#000;}
.db{ color:#a927f4; font-size:18px; font-weight:bold; display:block;} 
.md{ color:#e20000;display:block;}
.dt{ font-size:14px; color:#999;}

.sel-slot{ padding:5px; background:#fff; margin-top:30px; border-radius:5px; }
.sel-slot li{float:left; width:16.6%; }
.nodata{ color:#CCC;}
.wheel_wrap{ width:50%; margin:0px auto; margin-top:25px;  text-align:center;}
.ac-date{ font-size:18px; font-weight:bold; margin-top:10px; margin-bottom:15px;}
.ac-title{ color:#e20000; font-size:18px; font-weight:bold; margin-bottom:15px;}
.ac-feeling{font-size:18px; font-weight:bold; margin-bottom:15px;}
.diabetesReading{ display:inline-block;}
.sto-val{top: 38px;position: absolute;height: 200px;font-size: 34px;font-weight: bold;width: 100%;}
.mood_d{margin-top: 80px;width: 85px;}

.Largetitle{ font-size:22px; font-weight:bold; margin-top:25px; text-align:center; margin-bottom:15px;}
.stp_ent{ background:#dfdfdf; border-bottom:1px solid #fff; padding:15px;}
.stp1{ background:#3e3e3e; color:#fff; font-size:14px; font-weight:bold; padding:5px; text-transform:uppercase; margin:0px;}
.entries_wrap{ text-align:center;}
.stp_ent span{ display:block; color:#7809bd;} 

.stp2 { background:#3e3e3e; color:#fff; font-size:14px; font-weight:bold; padding:5px; text-transform:uppercase; margin:15px 0 0;}
.colR{ color:#f80406;}
.stp3{ background:#f80406; color:#fff; font-size:14px; font-weight:bold; padding:5px; text-transform:uppercase; margin:15px 0 0; }
.disb_slider{ position:relative; margin-top:48px !important; width:489px; margin:0px auto; height:80px; background:url(../images/slider-disable.png) center center no-repeat;}
.slider-count{ display:none; position: absolute;top: -32px; left: -25px; width:55px; height:73px; background:url(../images/slid-count.png) no-repeat; text-align:center; font-weight:bold;  font-size:18px;}
.l0{left: -25px;}
.l1{left: 23px;}
.l2{left: 70px;}
.l3{left: 119px;}
.l4{left: 167px;}
.l5{left: 214px;}
.l6{left: 265px;}
.l7{left: 313px;}
.l8{left: 362px;}
.l9{left: 409px;}
.l10{left: 454px;}
.slider-count span{ margin-top:15px; font-size:25px;}
.rng{ color:#6531d6;}
.rngnm{ color:#de9c0e;}
.rngnm1{ color:#d72f13;}

.uSmDetail{ margin-bottom:15px;}
.uSmDetail li{ float:left; margin-right:25px;}
.uSmDetail span{ color:#7809bd;}
.bold{ font-weight:bold;}

.col1{ color:#17904d; font-weight:bold;}
.col2{ color:#1a4bae;font-weight:bold;}
.col3{ color:#8b273f;font-weight:bold;}
.col4{ color:#e14c24;font-weight:bold;}
.col5{ color:#698b28;font-weight:bold;}
.col6{ color:#e48408;font-weight:bold;}

.grT{ font-size:22px; margin:35px 0px 10px;  color:#df0a0a; font-weight:bold; text-align:center; font-family: 'Open Sans', sans-serif; }
.dt_arrow{ position:relative; margin:15px 0px 25px; text-align:center; font-size:18px;}

.arrow-left { background: rgba(0, 0, 0, 0) url("../images/arr-left.png") repeat scroll 0 0;cursor: pointer;display: block; height: 37px;left: 28px;position: absolute;top: 0; width: 37px;}
.arrow-right { background: rgba(0, 0, 0, 0) url("../images/arr-right.png") repeat scroll 0 0; cursor: pointer;
    display: block; height: 37px;position: absolute; right: 28px;top: 0;width: 37px;}

.d-graph{margin-top: 10px; padding: 0 25px 0 25px; position: relative;}
.d-graph canvas { height: 500px !important;}

.dis_dates{ margin-bottom:15px;}
.dis_dates ul li {float: left; list-style-type: none; text-align: center; width: 7.142%;}
.dia-note{ text-align:center;}
.av-mood{ margin-bottom:20px;}
.av-mood ul li { float: left; list-style-type: none;width: 20%;}
.av-padd { background: #fff none repeat scroll 0 0; border-radius: 10px; margin: 0 15px; padding: 15px; text-align: center;}
.m-hp { display: block; font-size: 18px;font-weight: bold;margin: 10px 0;text-align: center;}
.per { background: #ddd none repeat scroll 0 0; border-radius: 42px;color: #28badb;display: inline-block; font-size: 27px;font-weight: bold;
    height: 80px; padding: 15px;text-align: center;width: 80px;}
.av-padd img{ width:66px;}






  




/*login- signup*/
.login-wrap1{ position:absolute; width:900px; height:350px; margin-left:-450px; margin-top:-175px; left:50%; top:50%;}
.signup-wrap{ position:absolute; width:900px; height:570px; margin-left:-450px; margin-top:-285px; left:50%; top:50%;}
.wet{ color:#770bbe; font-size:18px; text-align:center; margin:25px 0;}
.log-f-wrsp{ display:inline-block; width:450px;}
.log-f-wrsp input[type="text"]{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp input[type="password"]{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp select{ padding:10px; height:45px; border-radius:0 !important;}
.log-f-wrsp .form-group{ margin-bottom:10px !important;}
.fleft{ float:left;}
.fright{ float:right;}
.sign-up{  padding: 8px 34px; color:#fff; border-radius:5px; background:#017def; border:1px solid #969595; font-weight:bold;}
.sign-up:hover{border:1px solid #28292b;}
.login-bt{  padding: 8px 34px; color:#fff; border-radius:5px; background:#ee0500; border:1px solid #969595; font-weight:bold;}
.login-bt:hover{border:1px solid #28292b;}
.fp{ text-align:right; font-size:12px; color:#ddd; margin-top:5px;}
.for-pass{ color:#770bbe;}








/*pop-default*/
.overlay{ display:none;  background:#333; top:0px; left:0px; bottom:0px;  z-index:1050; left:0px; position:fixed; right:0; opacity:0.6;}
.default-pop{background: none repeat scroll 0 0 #FFFFFF; z-index:1060; display:none; left: 50%; position:fixed;top: 50%; box-shadow: 0 2px 2px #666; border-top:3px solid #000;border-bottom:3px solid #000; border-right:6px solid #000;border-left:6px solid #000; }
.pop-padd{ padding:15px;}
.pop_head{ font-size:20px; line-height:23px;  padding: 0px 0px 10px; background:rgba(0, 0, 0, 0) url("../images/bg-pop-head.png") no-repeat scroll center 0; margin: 0; position:relative; color:#000; font-weight:normal; }
.pop_close{ position:absolute; right:0px; top:0px; cursor:pointer;}

.user-detailP{ width:600px; height:340px; margin-top:-170px; margin-left:-300px;}
.user-d-list li{ float:left; margin-right:5%; width:30%; margin-bottom:20px;}
.user-d-list li span{ color:#770bbe; display:block;}
.no-MarR{ margin-right:0px !important;}

.clinic-detailP{ width:800px; height:400px; margin-top:-200px; margin-left:-400px;}

.status-historyP{width:600px; height:340px; margin-top:-170px; margin-left:-300px;}

.history-table{ margin-top:10px; width:100%; overflow:auto; height:260px; text-align:left;}
.history-table a{ color:#a927f4; font-weight:bold;}
.history-table table{ width:100%;}
.history-table table th{background: #313131 none repeat scroll 0 0;color: #fff;padding: 10px; }
.history-table table td{ padding:3px; border-bottom:1px solid #ddd; vertical-align:middle; position:relative;}



.ser-filter{ text-align:right;}
.ser-filter  select {border: 1px solid #ddd; border-radius: 5px; height: 34px; padding: 5px; width: 150px; margin-right:5px;}
.ser-filter .mf{ display: inline-block; text-align: left; width: 150px;margin-right:5px;}
.mf  input[type="checkbox"]	{ margin-right:5px; margin-left:5px;}
.ser-filter input[type="text"] { border: 1px solid #ddd; border-radius: 5px; padding: 5px;width: 150px;}
.ser-but { background: rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll 0 4px; border: medium none; display: inline-block; height: 23px; margin-left: 5px;text-indent: -99999px;width: 21px;}
.hold-wrp{ background:#f1f1f1; padding:10px; border-radius:5px; border:1px solid #ddd; text-align:right;}
.hold-wrp1{ background:#f1f1f1; padding:10px; border-radius:5px; border:1px solid #ddd; position:relative;}
.add-new { background: #933aca url("../images/arrow-add-new.png") no-repeat scroll right 11px; border-radius: 3px; color: #fff;font-size: 15px;padding: 8px 25px 8px 16px; position: absolute;right: 0; bottom:0;}
.add-new:hover{ background: #000000 url("../images/arrow-add-new.png") no-repeat scroll right 11px;}
.alright{ text-align:right !important;}
.alcenter{ text-align:center !important;}
.action{ border: 1px solid #ddd;border-radius: 5px; height: 34px; margin-right: 5px; padding: 5px;}
.form-wrap {margin:15px auto 0; width:900px;}

.d_graph { background: #933aca url("../images/graph_ic.png") no-repeat scroll 6px 8px; border-radius: 3px; color: #fff;font-size: 15px;padding: 8px 16px 8px 35px; position: absolute;right: 15px; top:15px;}
.d_graph:hover{ background: #000000 url("../images/graph_ic.png") no-repeat scroll 6px 8px;}

/*.inner-banner-wrap{width:100%; min-height:450px; padding-bottom:25px;}
.brade-crum{background: rgba(0, 0, 0, 0) url("../images/bg-brade-crum.png") no-repeat scroll center 0;margin-top:5px;color: #09aed3;height: 32px;padding-top: 5px; text-align: center; }
.brade-crum span{ color:#999}
.inner-title{ font-size:30px; position:relative; color:#f08153; background:rgba(0, 0, 0, 0) url("../images/inner-title-bg.jpg") no-repeat scroll center bottom / 100% auto; margin-top: 30px; padding-bottom: 10px;text-align: center;} 
.sub_but{ text-align:right; position:relative;}
.ic-ad-sel .form-control-feedback{ right:15px;}

.form-wrap{ width:800px; margin:0px auto; margin-top:25px;}
.form-group:before, .form-group:after{content:" "; clear:both; display:table;}
.file {visibility: hidden;position: absolute;}
.has-error .btn-default { border-color: #e74c3c ;}
.has-success .btn-default { border-color: #18bc9c ;}

.pos-rel{ position:relative;}
.back-list{background:url(../images/arrow-back-list.png) no-repeat 10px 11px #06afd5;border-radius: 3px;color: #fff; font-size: 15px; padding: 8px 16px 8px 25px; position: absolute;left: 0;}
.back-list:hover{background:url(../images/arrow-back-list.png) no-repeat 10px 11px #000000;}



.add-new{background:url(../images/arrow-add-new.png) no-repeat right 11px #06afd5;border-radius: 3px;color: #fff; font-size: 15px; padding: 8px 25px 8px 16px; position: absolute; right: 0;}
.add-new:hover{background:url(../images/arrow-add-new.png) no-repeat right 11px #000000;}

.ord-table{ margin-top:20px; width:100%; overflow:auto;}
.ord-table table{ width:100%;}
.ord-table table th{background: #f08153 none repeat scroll 0 0;color: #fff;padding: 10px; }
.ord-table table td{ padding:8px; border-bottom:1px solid #ddd; vertical-align:middle; position:relative;}

.ord-table .form-control-feedback{ display:inline-block ;height: 15px !important;left: 38px;pointer-events: none;position: absolute;top: 25%!important; width: 15px!important;}

.alt{ background:#f1f1f1;}
.altbr{ border-bottom:#f1f1f1;}
.delete{background:url(../images/delete.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.edit {background:url(../images/edit.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.block{background:url(../images/delete.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.unblock{background:url(../images/unblock_user.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.block{background:url(../images/block_user.png) no-repeat; text-indent: -75px; display:inline-block; width:20px; height:20px; border:none;}
.viw-detail{ background:#06afd5; color:#fff; border-radius:3px; padding:3px 8px; border:none; display:inline-block; font-size:15px;}
.viw-detail:hover{ background:#000;}
.viw-query-btn-replied{ background:#e0dada; color:#b5b3b3; cursor:default !important; border-radius:3px; padding:3px 8px; border:none; display:block; font-size:15px;}

.ban-title{ font-size:18px; margin-bottom:20px; color:#06afd5; margin: 0 0 20px;}
.org{ color:#f08153;}
.ad-icon .form-control-feedback{ right:10px;}
.sort-wrap {float: right;}

.ser-but { background:rgba(0, 0, 0, 0) url("../images/search-icon.png") no-repeat scroll 0 4px; border: medium none; display: inline-block;
    height: 23px; margin-left: 5px;text-indent: -99999px; width: 21px;}
.sort-wrap input[type="text"] {border: 1px solid #ddd;border-radius: 5px; padding: 5px;width: 200px;}
.sort-wrap select { border: 1px solid #ddd;border-radius: 5px;padding: 5px;width: 200px; height:34px;}
.col-box{border: 1px solid #999;display: inline-block; height: 20px; width: 20px;}
#con_rate{ display:none;}
#ven_d{ display:none;}
#ven_wh{display:none;}
#ware_ven{display:none;}
#pay_f{display:none;}


.grey{ color:#666;}
.ord-history{ margin-top:25px; margin-bottom:20px; text-align:center;}
.his-table table{ width:100%; border:1px solid #ddd;}
.his-table table th{ padding:6px; background:#ddd;}
.his-table table td{ padding:6px; border-bottom:1px solid #ddd;}
.m-right{ margin-right:0px !important;}
.per_text { font-size:15px; position:absolute; right:-20px; top:8px;}
.martop10{ margin-top:10px;}
.martop30{ margin-top:30px;}
.ord-table input[type="checkbox"]{ display: inline-block; width: auto; margin-right:5px;}
*/



/*Pagination*/
.pagin li{ float:left;}
.pagin li a { border: 1px solid #ddd;display: block; padding: 5px 10px; border-radius:4px; margin: 0 5px;}
.pagin li a:hover{ background:#ddd; border:1px solid #999; text-decoration:none;}
.pagina{margin-top:25px;}
.pagein-control{ display:inline-block;}
.to-page{background: #06afd5 none repeat scroll 0 0;border: 1px solid #06afd5 !important;color: #fff; }
.to-pagedis{background: #f1f1f1 none repeat scroll 0 0; color: #000;border: 1px solid #ddd !important; cursor:default;}
.to-pagedis:hover{background: #f1f1f1 none repeat scroll 0 0 !important; color: #000 !important;border: 1px solid #ddd !important;}
.pg-active{background: #f08153 none repeat scroll 0 0; border: 1px solid #f08153 !important; color: #fff;}
.to-page:hover{background:#000 !important; border:1px solid #000!important;}



