﻿@model CDHS_ADMIN.Models.ViewDiaryViewModel
@{
    ViewBag.Title = "viewdiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">
            HEALTH TRACKER > Diadetes Report

        </div>
    </div>
    <div class="container">
        <h2 class="title">Diadetes Report (Nick Clark) @Html.ActionLink("Back", "diabetesreportuserdetail", "Diabetes", new { @class = "add-new" })</h2>
        <div class="hold-wrp1">
            <div>
                <ul class="clearfix uSmDetail">
                    <li>User ID :<span> 1345</span></li>
                    <li>Username : <span>Nick Clark</span></li>
                    <li>Gender : <span>Male</span></li>
                    <li>Age : <span>22</span></li>
                    <li>City : <span>Sydney</span></li>
                    <li>State : <span>NSW</span></li>
                </ul>
            </div>
            <div class="sel-slot">
                <ul class="clearfix">
                    <li>@Html.RadioButtonFor(m => m.BeforeBreakfast, new { @name = "sel", @checked = "checked" })Before Breakfast(15)</li>
                    <li><span class="nodata">After Breakfast</span></li>
                    <li>@Html.RadioButtonFor(m => m.BeforeLunch, new { @name = "sel"})Before Lunch(12)</li>
                    <li><span class="nodata">After Lunch</span></li>
                    <li>@Html.RadioButtonFor(m => m.BeforeDinner, new { @name = "sel" })>Before Dinner 8</li>
                    <li>@Html.RadioButtonFor(m => m.AfterDinner, new { @name = "sel" })After Dinner (10)</li>
                </ul>
            </div>
            <div class="wheel_wrap">
                <div class="whe-date">
                    <div class="input-group date" id="datetimepicker5" data-date-format="DD/MM/YYYY">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @name = "newsDate", @value = "", @id = "newsDate" })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                    </div>

                    <div class="ac-date">16-Oct-2016</div>
                    <div class="ac-title">Before Breakfast Reading</div>
                    <div class="ac-feeling">Feeling : <span> Happy</span></div>
                    <div class="chart">

                        <input id="strong" type="hidden" value="50">
                        <div class="diabetesReading" data-percent="0">
                            <img class="mood_d" src="images/happy-d.png" />
                            <div class="sto-val"><span>50</span></div>
                        </div>
                    </div>
                    <div class="dia-note"><span class="rng">0-4</span> <span class="rngnm">Hypo</span>-<span class="rngnm1">Danger</span> | <span class="rng">4-8</span> <span class="rngnm">Good</span> | <span class="rng">8-12</span> <span class="rngnm">Caution</span> | <span class="rng">12-16</span> <span class="rngnm">Act Now</span> | <span class="rng">16-20</span> <span class="rngnm">Very Bad</span> | <span class="rng">24-28</span> <span class="rngnm">Hyper</span>-<span class="rngnm1">Immediate Action</span></div>


                </div>

            </div>
            <div class="Largetitle">Before Breakfast</div>

            <div class="entries_wrap">
                <h2 class="stp1">Step 1 Entries</h2>
                <div>
                    <div class="stp_ent">
                        Are you taking your medications(s) advised?
                        <span>Yes</span>
                    </div>
                    <div class="stp_ent">
                        Do you need further medication(s) to control your diabetes?
                        <span>No</span>
                    </div>
                    <div class="stp_ent">
                        Is diabetes affecting your ability to work, exercise or perform ordinary
                        daily work?
                        <span>Yes</span>
                    </div>
                </div>

                <h2 class="stp2">Step 2 Entries</h2>
                <div>
                    <div class="stp_ent">
                        <img src="images/happy-small.png" />
                        <span>Happy</span>
                    </div>
                    <div class="stp_ent">
                        How are you managing your diabetes today?
                        <div id="sld1" class="disb_slider">
                            <input class="getrange" type="hidden" value="5" />
                            <div class="slider-count l0">
                                <span>0</span>
                                <input type="hidden" value="0" />
                            </div>

                            <div class="slider-count l1">
                                <span>1</span>
                                <input type="hidden" value="1" />
                            </div>

                            <div class="slider-count l2">
                                <span>2</span>
                                <input type="hidden" value="2" />
                            </div>

                            <div class="slider-count l3">
                                <span>3</span>
                                <input type="hidden" value="3" />
                            </div>
                            <div class="slider-count l4">
                                <span>4</span>
                                <input type="hidden" value="4" />
                            </div>
                            <div class="slider-count l5">
                                <span>5</span>
                                <input type="hidden" value="5" />
                            </div>
                            <div class="slider-count l6">
                                <span>6</span>
                                <input type="hidden" value="6" />
                            </div>
                            <div class="slider-count l7">
                                <span>7</span>
                                <input type="hidden" value="7" />
                            </div>
                            <div class="slider-count l8">
                                <span>8</span>
                                <input type="hidden" value="8" />
                            </div>
                            <div class="slider-count l9">
                                <span>9</span>
                                <input type="hidden" value="9" />
                            </div>
                            <div class="slider-count l10">
                                <span>10</span>
                                <input type="hidden" value="10" />
                            </div>
                            <div class="slider-count l11">
                                <span>11</span>
                                <input type="hidden" value="11" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="Largetitle colR">Todays Health Diary</div>

            <div class="entries_wrap">
                <h2 class="stp3">Step 3 Entries</h2>
                <div>
                    <div class="stp_ent">
                        How is your general health today?
                        <div id="sld2" class="disb_slider">
                            <input class="getrange1" type="hidden" value="8" />
                            <div class="slider-count l0">
                                <span>0</span>
                                <input type="hidden" value="0" />
                            </div>

                            <div class="slider-count l1">
                                <span>1</span>
                                <input type="hidden" value="1" />
                            </div>

                            <div class="slider-count l2">
                                <span>2</span>
                                <input type="hidden" value="2" />
                            </div>

                            <div class="slider-count l3">
                                <span>3</span>
                                <input type="hidden" value="3" />
                            </div>
                            <div class="slider-count l4">
                                <span>4</span>
                                <input type="hidden" value="4" />
                            </div>
                            <div class="slider-count l5">
                                <span>5</span>
                                <input type="hidden" value="5" />
                            </div>
                            <div class="slider-count l6">
                                <span>6</span>
                                <input type="hidden" value="6" />
                            </div>
                            <div class="slider-count l7">
                                <span>7</span>
                                <input type="hidden" value="7" />
                            </div>
                            <div class="slider-count l8">
                                <span>8</span>
                                <input type="hidden" value="8" />
                            </div>
                            <div class="slider-count l9">
                                <span>9</span>
                                <input type="hidden" value="9" />
                            </div>
                            <div class="slider-count l10">
                                <span>10</span>
                                <input type="hidden" value="10" />
                            </div>
                            <div class="slider-count l11">
                                <span>11</span>
                                <input type="hidden" value="11" />
                            </div>

                        </div>
                    </div>
                    <div class="stp_ent">
                        Do you have any diabetes related question today?
                        <span>No Data</span>
                    </div>
                    <div class="stp_ent">
                        How are you going to change your diet to reduce your sugar control?
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </span>
                    </div>
                    <div class="stp_ent">
                        What steps are you going to take to take up start or increase you exercise?
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </span>
                    </div>

                    <div class="stp_ent">
                        What other diabetes related issues you are dealing with today?
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  </span>
                    </div>
                    <div class="stp_ent">
                        Do wish to book an appointment with your GP, diabetes educators,
                        Dietician or other medical professionals to seek advice?
                        <span>Yes </span>
                    </div>
                    <div class="stp_ent">
                        Is diabetes affecting our other vital organs?
                        <span>Yes </span>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

