﻿@model CDHS_ADMIN.Models.ViewDiabetesContentViewModel
@{
    ViewBag.Title = "viewdiabetescontent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Diabetes Content</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Diabetes Content
            @Html.ActionLink("Add Diabetes Content", "adddiabetescontent", "Diabetes", new { @class = "add-new" })@*<a class="add-new" href="add-diabetes-content.html"> Add Diabetes Content</a>*@
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewdiabetescontent", "Diabetes", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.ViewDiabetesContent, new { @class = "form-control", @placeholder = "Search By Content Type" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.ViewDiabetesContent, new { @class = "form-control", @placeholder = "Search By Content Category" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.ViewDiabetesContent, new { @class = "form-control", @placeholder = "Search By Content Sponsors" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="ord-table">
                    @*@if (Model != null)*@
                    @if (Model.diabetescontentcdhs.Count() > 0)
                    {
                        var grid = new WebGrid(source: @Model.diabetescontentcdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                      grid.Column("Content_Id", "ContentId"),
                                      grid.Column("Category_Name", "CategoryName"),
                                      grid.Column("Sponsar_id", "Sponsarid"),
                                      grid.Column("Content_Title", "ContentTitle"),
                                      grid.Column("Diabetes_Containt_Details", "DiabetesContaintDetails"),
                                      grid.Column("News_Date", "NewsDate"),
                                      grid.Column("", header: "Priority", format: @<text>@Html.DropDownList("Priority", new SelectList(new[] { new { ID = "1~Top", Name = "Top" }, new { ID = "2~Low", Name = "Low" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      grid.Column("", header: "Approval", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = "1~Awaiting For Approval", Name = "Awaiting For Approval" }, new { ID = "2~Approved", Name = "Approved" }, new { ID = "3~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      grid.Column("", header: "AssetType", format: @<text>@Html.DropDownList("Asset Type", new SelectList(new[] { new { ID = "1~Image", Name = "Image" }, new { ID = "2~Video", Name = "Video" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      //grid.Column("Upload_Photo", "ContentId"),

                                      @*grid.Column("", "Active / Inactive", format: @<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),*@
                                      grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)
                        
                                      @*grid.Column("", "Enable / Disable", format:@<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),//
                                      grid.Column("",header: "Approval", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = item.Approval + "~Awaiting", Name = "Awaiting For Approval" }, new { ID = item.Approval + "~Approved", Name = "Approved" }, new { ID = item.Approval + "~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      grid.Column("Content_Id", "ContentId"),
                                      grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)*@

                                   )
                                   );

                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                    @*<table>
                        <tr>
                            <th style="width:15%;"><a href="#">Title</a></th>
                            <th style="width:40%;"><a href="#">Diabetes Content</a></th>
                            <th style="width:15%;">Active / Inactive </th>
                            <th style="width:10%;">Approval</th>
                            <th style="width:10%;">User Detail</th>
                            <th class="alright" style="width:10%;">Action</th>

                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor", @name = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor", @name = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor", @name = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor", @name = "Loremipsumdolor" })</td>
                            <td>
                                <select class="action">
                                    <option>Awaiting for approval</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                </select>
                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                <select class="action">
                                    <option>Action</option>
                                    <option>View</option>
                                    <option>Edit</option>
                                    <option>Delete</option>
                                </select>
                            </td>
                        </tr>


                    </table>*@
                </div>
            }
        </div>
    </div>
</div>
