﻿@model CDHS_ADMIN.Models.AlLocateGpViewModel
@{
    ViewBag.Title = "allocategp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > Allocate GP to Sales Rep</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            Allocate GP
            @Html.ActionLink("View Allocated GP", "viewallocatedgp", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            <div class="clearfix">
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchByState, new { @class = "form-control", @placeholder = "Search By State" })</div>
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySubrub, new { @class = "form-control", @placeholder = "Search By Subrub" })</div>

                <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
            </div>


            <div class="ord-table">

                @using (Html.BeginForm("allocategp", "Info", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
                {

                    if (Model.allocatecdhs.Count() > 0)
                    //if (Model != null)
                    {
                        var grid = new WebGrid(source: @Model.allocatecdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                 //grid.Column("Select", "Select"),
                                 grid.Column("", "Enable / Disable", format:@<text><input type="checkbox" id="chk" name="chkActive" /></text>),
                                 grid.Column("Clinic_Name", "Clinic Name"),
                                 grid.Column("Email_ID", "Email ID"),
                                 grid.Column("Contact_Name", "Contact Name"),
                                 grid.Column("Mobile_No", "Mobile No"),
                                 grid.Column("Subrub", "Subrub"),
                                 grid.Column("State", "State")

                        @*grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)*@
                                                                                                                       )
                                                                                                                       );
                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                }

                @*<table>
                        <tr>
                            <th style="width:10%;"><a href="#">Select</a></th>
                            <th style="width:15%;"><a href="#">Clinic Name</a></th>
                            <th style="width:15%;"><a href="#">Email ID</a></th>
                            <th style="width:15%;"><a href="#">Contact Name</a></th>
                            <th style="width:15%;"><a href="#">Mobile No</a></th>
                            <th style="width:15%;"><a href="#">Subrub</a></th>
                            <th style="width:15%;"><a href="#">State</a></th>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.Select)
                            </td>
                            <td>Pulse Clinic</td>
                            <td>pulse@gmail.com</td>
                            <td>John Franco </td>
                            <td>645825625 </td>
                            <td>Sydney</td>
                            <td>NSW</td>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.Select)
                            </td>
                            <td>Shine Clinic</td>
                            <td>shine@gmail.com</td>
                            <td>John Franco </td>
                            <td>645825625 </td>
                            <td>Sydney</td>
                            <td>NSW</td>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.Select)
                            </td>
                            <td>Sharp Clinic</td>
                            <td>sharp@gmail.com</td>
                            <td>John Franco </td>
                            <td>645825625 </td>
                            <td>Sydney</td>
                            <td>NSW</td>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.Select)
                            </td>
                            <td>ABC Clinic</td>
                            <td>abc@gmail.com</td>
                            <td>John Franco </td>
                            <td>645825625 </td>
                            <td>Sydney</td>
                            <td>NSW</td>

                        </tr>



                    </table>*@
            </div>
            <div>
                <div class="clearfix mar_top20">
                    <div class="fleft mRsearch">
                        @Html.DropDownListFor(m => m.SelectedSearchStatus, Model.SearchList.Select(menu => new SelectListItem { Text = menu.SearchStatus, Value = menu.SearchId.ToString() }), new { @class = "form-control stuser" })

                    </div>
                    <div class="serbut"><input value="Allocate" class="btn btn-primary" type="submit"></div>
                </div>
                <div class="show_sel"><a href="allocated-status.html">View Allocated Status</a></div>
            </div>
        </div>
    </div>
</div>

