﻿@model CDHS_ADMIN.Models.AllocatedStatusViewModel
@{
    ViewBag.Title = "allocatedstatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > Allocate GP to Sales Rep</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            Allocated Status - <span class="col-black">Nick Franco</span>
            @Html.ActionLink("Back", "allocategp", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            <div class="clearfix">
                <div class="fleft mRsearch">
                    @Html.DropDownListFor(m => m.SelectedSearch, Model.SearchList.Select(menu => new SelectListItem { Text = menu.SearchStatus, Value = menu.SearchId.ToString() }), new { @class = "form-control" })

                </div>

            </div>

            <div class="ord-table">
                <table>
                    <tr>
                        <th style="width:10%;"><a href="#">Date</a></th>
                        <th style="width:15%;"><a href="#">Clinic Name</a></th>
                        <th style="width:15%;"><a href="#">Email ID</a></th>
                        <th style="width:15%;"><a href="#">Contact Name</a></th>
                        <th style="width:15%;"><a href="#">Mobile No</a></th>
                        <th style="width:15%;"><a href="#">Status</a></th>

                    </tr>
                    <tr>
                        <td>
                            10/10/2016
                            <span class="col_loven"> 10:15AM</span>
                        </td>
                        <td>Pulse Clinic</td>
                        <td>pulse@gmail.com</td>
                        <td>John Franco </td>
                        <td>645825625 </td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>
                            10/10/2016
                            <span class="col_loven"> 10:15AM</span>
                        </td>
                        <td>Sharp Clinic</td>
                        <td>sharp@gmail.com</td>
                        <td>Mike Franco </td>
                        <td>645825625 </td>
                        <td>Next Visit</td>
                    </tr>
                    <tr>
                        <td>
                            10/10/2016
                            <span class="col_loven"> 10:15AM</span>
                        </td>
                        <td>Shine Clinic</td>
                        <td>shine@gmail.com</td>
                        <td>Monica Franco </td>
                        <td>645825625 </td>
                        <td>Registered</td>
                    </tr>
                    <tr>
                        <td>
                            05/10/2016
                            <span class="col_loven"> 02:15AM</span>
                        </td>
                        <td>ABC Clinic</td>
                        <td>abc@gmail.com</td>
                        <td>Sara Farnandis </td>
                        <td>645825625 </td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>
                            05/10/2016
                            <span class="col_loven"> 02:15AM</span>
                        </td>
                        <td>XYZ Clinic</td>
                        <td>xyz@gmail.com</td>
                        <td>John Franco </td>
                        <td>645825625 </td>
                        <td>Not Interested</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

