﻿@model CDHS_ADMIN.Models.SalesRepReportViewModel
@{
    ViewBag.Title = "salesrepreport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > Sales Rep Report</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            Sales Rep Report

        </h2>
        <div class="hold-wrp1">
            <div class="clearfix">
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySubrub, new { @class = "form-control", @placeholder = "Search By Subrub" })</div>
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchByState, new { @class = "form-control", @placeholder = "Search By State" })</div>
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySalesRep, new { @class = "form-control", @placeholder = "Search By Sales Rep" })</div>
                <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
            </div>


            <div class="ord-table">

                <table>
                    <tr>

                        <th style="width:15%;"><a href="#">Sales Rep</a></th>
                        <th style="width:15%;"><a href="#">Email ID</a></th>
                        <th style="width:15%;"><a href="#">Mobile No</a></th>
                        <th style="width:15%;"><a href="#">Subrub</a></th>
                        <th style="width:15%;"><a href="#">State</a></th>
                        <th class="alright" style="width:15%;">View Report</th>
                    </tr>
                    <tr>

                        <td>John Franco</td>
                        <td>john@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alright"><a class="view-Dreport" href="sales-rep-report-user-detail.html">View Report</a></td>
                    </tr>
                    <tr>

                        <td>Mike Hussy</td>
                        <td>mike@gmail.com</td>
                        <td>645875956</td>
                        <td>Melbourne </td>
                        <td>Victoria</td>
                        <td class="alright"><a class="view-Dreport" href="sales-rep-report-user-detail.html">View Report</a></td>
                    </tr>
                    <tr>

                        <td>Clark Bond</td>
                        <td>clark@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alright"><a class="view-Dreport" href="sales-rep-report-user-detail.html">View Report</a></td>
                    </tr>
                    <tr>

                        <td>Monica Farnandis</td>
                        <td>monica@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alright"><a class="view-Dreport" href="sales-rep-report-user-detail.html">View Report</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

