﻿@model CDHS_ADMIN.Models.ViewAllocatedGpViewModel
@{
    ViewBag.Title = "viewallocatedgp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">Sales > Allocate GP to Sales Rep</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Allocated GP
            @Html.ActionLink("Allocate GP", "allocategp", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            <div class="clearfix">
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySubrub, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Subrub" })</div>
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchByState, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By State" })</div>
                <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchBySalesRep, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Sales Rep" })</div>
                <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
            </div>


            <div class="ord-table">

                <table>
                    <tr>
                        <th style="width:10%;"><a href="#">Date</a></th>
                        <th style="width:15%;"><a href="#">Sales Rep</a></th>
                        <th style="width:15%;"><a href="#">Email ID</a></th>
                        <th style="width:15%;"><a href="#">Mobile No</a></th>
                        <th style="width:15%;"><a href="#">Subrub</a></th>
                        <th style="width:15%;"><a href="#">State</a></th>
                        <th class="alright" style="width:15%;">Allocated GP</th>
                    </tr>
                    <tr>
                        <td>
                            10/10/2016
                            <span class="col_loven"> 10:15AM</span>
                        </td>
                        <td>John Franco</td>
                        <td>john@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alcenter"><a class="viewgp" href="#">4</a></td>
                    </tr>
                    <tr>
                        <td>
                            09/10/2016
                            <span class="col_loven"> 11:25AM</span>
                        </td>
                        <td>Mike Hussy</td>
                        <td>mike@gmail.com</td>
                        <td>645875956</td>
                        <td>Melbourne </td>
                        <td>Victoria</td>
                        <td class="alcenter"><a class="viewgp" href="#">5</a></td>
                    </tr>
                    <tr>
                        <td>
                            08/10/2016
                            <span class="col_loven"> 02:15PM</span>
                        </td>
                        <td>Clark Bond</td>
                        <td>clark@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alcenter"><a class="viewgp" href="#">5</a></td>
                    </tr>
                    <tr>
                        <td>
                            07/10/2016
                            <span class="col_loven"> 11:25AM</span>
                        </td>
                        <td>Monica Farnandis</td>
                        <td>monica@gmail.com</td>
                        <td>645875956</td>
                        <td>Sydney </td>
                        <td>NSW</td>
                        <td class="alcenter"><a class="viewgp" href="#">5</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

