﻿@model CDHS_ADMIN.Models.ViewVideoChannelViewModel
@{
    ViewBag.Title = "viewvideochannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Video Channel</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Video Channel
            @Html.ActionLink("Add Video Channel", "addvideochannel", "Info", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">


            <div class="ord-table">
                <table>
                    <tr>
                        <th style="width:40%;"><a href="#">Title</a></th>
                        <th style="width:15%;">Video Link </th>
                        <th style="width:10%;"><a href="#">Date </a></th>
                        <th class="alcenter" style="width:15%;">Enable / Disable </th>
                        <th style="width:10%;">Approval</th>
                        <th class="alright" style="width:10%;">Action</th>

                    </tr>
                    <tr>
                        <td>Andy Irons Still Filthy </td>
                        <td><a target="_blank" href="#">Video Preview</a></td>
                        <td>15-Jul-2016</td>
                        <td class="alcenter">
                            @Html.CheckBoxFor(m => m.Enable)
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                        </td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                        </td>
                    </tr>
                    <tr>
                        <td>COMPLETE MC freestyling in the FTW HQ </td>
                        <td><a target="_blank" href="#">Video Preview</a></td>
                        <td>29-Jun-2016</td>
                        <td class="alcenter">
                            @Html.CheckBoxFor(m => m.Enable)
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })
 
                        </td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                        </td>
                    </tr>
                    <tr>
                        <td>Big Wave Carnage at Red Bull Cape Fear 2016 - Action Highlights </td>
                        <td><a target="_blank" href="#">Video Preview</a></td>
                        <td>18-Aug-2016</td>
                        <td class="alcenter">
                            @Html.CheckBoxFor(m => m.Enable)
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                        </td>
                        <td class="alright">
                            @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

