﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CDHS</title>

    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/formValidation.min.css" rel="stylesheet">
    <link href="~/Content/drozone.css" rel="stylesheet">
    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/formValidation.min.js"></script>
    <script src="~/Scripts/framwork/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/drozone.js"></script>

    <link href="@Url.Content("~/Content/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />

   
 

</head>

<body>
    @if (ViewData["message"] != null)
    {
        if (ViewData["message"].ToString() != "")
        {
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Message</h4>
                        </div>
                        <div class="modal-body">
                            <p>@ViewData["message"].ToString()</p>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#myModal").modal('show');
                });
                @*alert("@ViewData["message"].ToString()");*@

            </script>
            ViewData["message"] = "";
        }
    }

    <!-- Header -->
    <div class="header-wrapper">
        <div class="container">
            <div>
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"></a>
                </div>

                <div class="login-wrap">
                    <a href="#" class="links">Welcome Admin <span class="caret"></span></a>
                    <div class="logout-St">
                        <a href="settings.html">Settings</a>
                        <a href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Navigation -->
    <div class="nav-wrap">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">

                            <a id="content_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CDHS <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Registered Users", "index", "Home")</li>
                                <li>@Html.ActionLink("Registered GP", "registeredgp", "Info")</li>
                                <li>@Html.ActionLink("About CDHS", "viewaboutcdhs", "Home")</li>
                            </ul>
                        </li>
                        <li>

                            <a id="content_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HEALTH TIPS <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Content Type", "viewcontenttype", "Home")</li>
                                <li>@Html.ActionLink("Content Category", "viewcategory", "Home")</li>
                                <li>@Html.ActionLink("Diabetes Content", "adddiabetescontent", "Diabetes")</li>
                                <li>@Html.ActionLink("Hyper Tension Content", "viewhypertensioncontent", "Hypertension")</li>
                                <li>@Html.ActionLink("Video Channel", "viewvideochannel", "Info")</li>
                            </ul>
                        </li>
                        <li>
                            <a id="product_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SYMPTOMS <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Diabetes Symptoms", "viewdiabetessymptoms", "Diabetes")</li>
                                <li>@Html.ActionLink("Hyper Tension Symptoms", "viewhypertensionsymptoms", "Hypertension")</li>

                            </ul>
                        </li>
                        <li>
                            <a id="rate_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS <span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sponsors", "viewsponsors", "Home")</li>
                            </ul>
                        </li>
                        <li>
                            <a id="order_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USERS<span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "viewusers", "Home")</li>
                                <li>@Html.ActionLink("User Rights", "userrights", "Home")</li>

                            </ul>
                        </li>

                        <li>
                            <a id="customer_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HEALTH TRACKER<span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Diabetes Report", "diabetesreport", "Diabetes")</li>
                                <li><a href="hyper-tension-report.html">Hyper Tension Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a id="report_master" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SALES<span class="caret"></span> </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sales Rep", "viewsalesrep", "Info")</li>
                                <li>@Html.ActionLink("GP", "viewgp", "Info")</li>
                                <li>@Html.ActionLink("Allocate GP to Sales Rep", "viewallocatedgp", "Info")</li>
                                <li>@Html.ActionLink("Sales Rep Report", "salesrepreport", "Info")</li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container">
            Wireframe supplied courtesy of Pulse Vision IT. Copyright all rights reserved
        </div>
    </div>
</body>
</html>