﻿@model CDHS_ADMIN.Models.AddAboutCdhsViewModel
@{
    ViewBag.Title = "addaboutcdhs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var Dropzone = require("enyo-dropzone");
    Dropzone.autoDiscover = false;
</script>


<div class="content-block">
    <div class="container">
        <div class="breadcrumb">CDHS > View About CDHS</div>
    </div>
    <div class="container">
        <h2 class="title">
            View About CDHS
            @Html.ActionLink("View About CDHS", "viewaboutcdhs", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
            @using (Html.BeginForm("addaboutcdhs", "Home", FormMethod.Post, new { @class = "form-horizontal", }))
            {
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Title</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "id", @name = "id" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Content in Detail</div>
                        <div class="col-lg-9">@Html.TextAreaFor(m => m.ContentinDetail, new { @class = "form-control", @style = "height:200px;" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Upload Title Image</div>
                        <div class="col-lg-9">
                            <div class="main_page_area">
                                <div class="" id="container">
                                    <div id="dropzone1" class="drag_area">Drag Here to Upload</div>
                                    <div id="actions">
                                        <div style="text-align:center"> <span style="display:none" class="btn btn-default fileinput-button"> <i class="glyphicon glyphicon-plus"></i> <span>Add files...</span> </span> </div>
                                        <div style="width:100%;">
                                            <span class="fileupload-process">
                                                <div id="total-progress" style="width:100%; margin-top:4px" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress> </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group clearfix">
                            <div class="col-lg-3">&nbsp;</div>
                            <div class="col-lg-9">
                                <div class="sub_but">
                                    <input value="Submit" class="btn btn-primary" id="btn_save" type="submit">
                                    <input value="Cancel" class="btn btn-primary" type="submit">

                                    @*@if (Model.ImagePath != null && TempData["oldimage"] != null)
                                    {
                                        <img alt="" title="" src="@Url.Content(Model.ImagePath)" style="width:100px;height:100px" />
                                    }*@

                                    <script type="text/javascript">
                                        if (document.getElementById("id").value == "") {
                                            document.getElementById("btn_save").innerHTML = "Save";
                                            pageurl = "/Home/Upload_Title_Image";
                                        } else {
                                            document.getElementById("btn_save").innerHTML = "Update";
                                            pageurl = "/Home/Upload_Title_Image";
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var myDropzone = new Dropzone("#dropzone1", { // Make the whole body a dropzone
            url: pageurl, // Set the url
            thumbnailWidth: 38,
            maxFiles: 1,
            thumbnailHeight: 38,
            parallelUploads: 1,
            autoQueue: true, // Make sure the files aren't queued until manually added
            clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
            init: function () {
                this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                    //alert("Only one image");
                });
                this.on("complete", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    //var res = JSON.parse(data.xhr.responseText);
                    $("#fileUploadMsg").find(".modal-body").text(res.Message);
                    $("#fileUploadMsg").modal('show');
                });
            }

        });
        myDropzone.on('success', function () {

            // Look at the output in you browser console, if there is something interesting

        });
        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            //file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
            // myDropzone.enqueueFile(file);
        });

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";


        });

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts

            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            //file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {

            document.querySelector("#total-progress").style.opacity = "0";
        });



    });
</script>