﻿@model CDHS_ADMIN.Models.AddUsersViewModel
@{
    ViewBag.Title = "addusers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">USERS > Users</div>
    </div>
    <div class="container">
        <h2 class="title">
            Add Users
            @Html.ActionLink("View User", "viewusers", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp">
            <form method="post" id="form_mast">
                <div class="form-wrap">
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @name = "name", @placeholder = "Enter Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">Last Name</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @name = "l_name", @placeholder = "Enter Last Name" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3"> Email ID</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @name = "email_id", @placeholder = "Enter Email ID" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Enter Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.EnterPassword, new { @class = "form-control", @name = "pass", @placeholder = "********" })</div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-3">Confirm Password</div>
                        <div class="col-lg-9">@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @name = "conf_pass", @placeholder = "********" })</div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-3">&nbsp;</div>
                        <div class="col-lg-9">
                            <div class="sub_but">
                                <input value="Submit" class="btn btn-primary" type="submit">
                                <input value="Cancel" class="btn btn-primary" type="submit">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

