﻿@model CDHS_ADMIN.Models.ViewContentTypeViewModel
@{
    ViewBag.Title = "viewcontenttype";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Content Types</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Content Types
            @Html.ActionLink("Add Content Type", "addcontenttype", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewcontenttype", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SelectedSearch, new { @class = "form-control", @placeholder = "Search By Content Type" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>

                </div>

                <div class="ord-table">
                    @if (Model.contentcdhs.Count() > 0)
                    {

                        var grid = new WebGrid(source: @Model.contentcdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                        grid.Column("Type_Name", "Name"),
                                           grid.Column("Type_Description", format: @<text>@Html.Raw(item.Type_Description)</text>, style: "contWidth"),

                                        grid.Column("", header: "Action",
                                        format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] {
                                                      new { ID = item.id + "~Edit", Name = "Edit" }, new {
                                                          ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"),
                                                          "Action", new { onchange = "this.form.submit()" })</text>))
                                                                                                   );
                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                    @*<table>
                            <tr>
                                <th style="width:20%;"><a href="#">Content Type</a></th>
                                <th style="width:50%;"><a href="#">Description</a></th>
                                <th class="alcenter" style="width:15%;">Active / Inactive</th>
                                <th class="alright" style="width:15%;">Action</th>

                            </tr>
                            <tr>
                                <td>Event</td>
                                <td> Upcoming events all over Australia</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Event, new { @id = "Event", @name = "Event" })</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedUpcomingEvents, Model.UpcomingList.Select(menu => new SelectListItem { Text = menu.UpcomingStatus, Value = menu.UpcomingId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>News</td>
                                <td>News in Biabetes & Hyper tension</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.News, new { @id = "Event", @name = "Event" })</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedUpcomingEvents, Model.UpcomingList.Select(menu => new SelectListItem { Text = menu.UpcomingStatus, Value = menu.UpcomingId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Videos</td>
                                <td>Latest cool videos</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Videos, new { @id = "Event", @name = "Event" })</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedUpcomingEvents, Model.UpcomingList.Select(menu => new SelectListItem { Text = menu.UpcomingStatus, Value = menu.UpcomingId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Photos</td>
                                <td>All the newest and best photos</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Photos, new { @id = "Event", @name = "Event" })</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedUpcomingEvents, Model.UpcomingList.Select(menu => new SelectListItem { Text = menu.UpcomingStatus, Value = menu.UpcomingId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>

                        </table>*@
                </div>
            }
        </div>
    </div>
</div>
