﻿@model CDHS_ADMIN.Models.ViewCategoryViewModel
@{
    ViewBag.Title = "viewcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Content Types</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Content Category
            @Html.ActionLink("Add Content Category", "addcategory", "Home", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewcategory", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch"> @Html.TextBoxFor(m => m.SearchByContentCategory, new { @class = "form-control", @placeholder = "Search By Content Category" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>

                </div>

                <div class="ord-table">


                    @if (Model.categorycdhs.Count() > 0)
                    {
                    
                    var grid = new WebGrid(source: @Model.categorycdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                    @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                   grid.Column("Category_Name", "Name"),
                                      grid.Column("Category_Description", format: @<text>@Html.Raw(item.Category_Description)</text>, style: "contWidth"),

                                        grid.Column("", header: "Action", 
                                        format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { 
                                                      new { ID = item.id + "~Edit", Name = "Edit" }, new { 
                                                          ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"),
                                                          "Action", new { onchange = "this.form.submit()" })</text>) )
                                                                                                           );
                    }
                    else
                    {
                    <p>No Data Found</p>
                    }


                    @*<table>
                            <tr>
                                <th style="width:20%;"><a href="#">Content Category</a></th>
                                <th style="width:50%;"><a href="#">Description</a></th>
                                <th class="alcenter" style="width:15%;">Active / Inactive</th>
                                <th class="alright" style="width:15%;">Action</th>

                            </tr>
                            <tr>
                                <td>Category A</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Category B</td>
                                <td>Lorem ipsum dolor sit amet, consectetur </td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Category C</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>
                            <tr>
                                <td>Category D</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>

                                <td class="alright">
                                    @Html.DropDownListFor(m => m.SelectedActionStatus, Model.ActionList.Select(menu => new SelectListItem { Text = menu.ActionStatus, Value = menu.ActionId.ToString() }), new { @class = "action" })

                                </td>
                            </tr>

                        </table>*@
                </div>
            }
            </div>

        </div>
    </div>
