﻿@model CDHS_ADMIN.Models.ViewHypertensionContentViewModel
@{
    ViewBag.Title = "viewhypertensioncontent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Hyper Tension Content</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Hyper Tension Content
            @Html.ActionLink("Add Hyper Tension Content", "addhypertensioncontent", "Hypertension", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewhypertensioncontent", "Hypertension", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentType, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Type" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentCategory, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Category" })</div>
                    <div class="fleft mRsearch">@Html.TextBoxFor(m => m.SearchByContentSponsors, new { @class = "form-control", @name = "symptoms_title", @placeholder = "Search By Content Sponsors" })</div>
                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="ord-table">
                    @if (Model.hypertensioncontentcdhs.Count() > 0)
                    {
                        var grid = new WebGrid(source: @Model.hypertensioncontentcdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                           grid.Column("Content_id", "ContentId"),
                                           grid.Column("Content_Category_Name", "CategoryName"),
                                           grid.Column("Sponsers_id", "Sponsarid"),
                                           grid.Column("Title", "ContentTitle"),
                                           grid.Column("Hyper_Tension_Containt_Details", "HyperTensionContaintDetails"),
                                           grid.Column("Date", "NewsDate"),
                                           grid.Column("", header: "SelectedPriority", format: @<text>@Html.DropDownList("Priority", new SelectList(new[] { new { ID = "1~Top", Name = "Top" }, new { ID = "2~Low", Name = "Low" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                           grid.Column("", header: "SelectedApprovalStatus", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = "1~Awaiting For Approval", Name = "Awaiting For Approval" }, new { ID = "2~Approved", Name = "Approved" }, new { ID = "3~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                           grid.Column("", header: "SelectedAssetStatus", format: @<text>@Html.DropDownList("Asset Type", new SelectList(new[] { new { ID = "1~Image", Name = "Image" }, new { ID = "2~Video", Name = "Video" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      //grid.Column("Upload_Photo", "ContentId"),

                                    @*grid.Column("", "Active / Inactive", format: @<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),*@
                                           grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)

                        @*grid.Column("", "Enable / Disable", format:@<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),//
            grid.Column("",header: "Approval", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = item.Approval + "~Awaiting", Name = "Awaiting For Approval" }, new { ID = item.Approval + "~Approved", Name = "Approved" }, new { ID = item.Approval + "~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
            grid.Column("Content_Id", "ContentId"),
            grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)*@

)
                                                                                 );

                    }
                    else
                    {
                        <p>No Data Found</p>
                    }
                    @*<table>
                        <tr>
                            <th style="width:15%;"><a href="#">Title</a></th>
                            <th style="width:40%;"><a href="#">Hyper Tension Content</a></th>
                            <th style="width:15%;">Active / Inactive </th>
                            <th style="width:10%;">Approval</th>
                            <th style="width:10%;">User Detail</th>
                            <th class="alright" style="width:10%;">Action</th>

                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor </td>
                            <td> Lorem ipsum dolor sit amet</td>
                            <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor)</td>
                            <td>
                                @Html.DropDownListFor(m => m.SelectedApprovalStatus, Model.ApprovalList.Select(menu => new SelectListItem { Text = menu.ApprovalStatus, Value = menu.ApprovalId.ToString() }), new { @class = "action" })

                            </td>
                            <td>
                                Nick <br />452562525 <br />nick@gmail.com
                            </td>
                            <td class="alright">
                                @Html.DropDownListFor(m => m.SelectedAssetStatus, Model.AssetList.Select(menu => new SelectListItem { Text = menu.AssetStatus, Value = menu.AssetId.ToString() }), new { @class = "action" })

                            </td>
                        </tr>

                    </table>*@
                </div>
            }
        </div>
    </div>
</div>
