﻿@model CDHS_ADMIN.Models.ViewHypertensionSymptomsViewModel
@{
    ViewBag.Title = "viewhypertensionsymptoms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block">
    <div class="container">
        <div class="breadcrumb">HEALTH TIPS > Hyper Tension Symptoms</div>
    </div>
    <div class="container">
        <h2 class="title clearfix">
            View Hyper Tension Symptoms
            @Html.ActionLink("Add Hyper Tension Symptoms", "addhypertensionsymptoms", "Hypertension", new { @class = "add-new" })
        </h2>
        <div class="hold-wrp1">
            @using (Html.BeginForm("viewhypertensionsymptoms", "Hypertension", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "aboutftw_frm" }))
            {
                <div class="clearfix">

                    <div class="fleft mRsearch"><input type="text" placeholder="Search By Title" class="form-control" /></div>

                    <div class="serbut"><input value="Search" class="btn btn-primary" type="submit"></div>
                </div>

                <div class="ord-table">

                    @if (Model.hypertensionsymptomscdhs.Count() > 0)
                    {
                        var grid = new WebGrid(source: @Model.hypertensionsymptomscdhs, canPage: true, rowsPerPage: 4, defaultSort: "Title");
                        @grid.GetHtml(tableStyle: "pack_syag", htmlAttributes: new { id = "DataTable" },
        columns: grid.Columns(
                                                grid.Column("Hyper_Tension_Symptoms_Title", "HyperTensionSymptomsTitle"),
                                                grid.Column("Sponser_id", "CompanyName"),
                                                grid.Column("Short_Description", "ShortDescription"),
                                                grid.Column("Hyper_Tension_Symptoms_Details", "HyperTensionSymptomsDetails"),
                                                grid.Column("", header: "SelectedApprovalStatus", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = "1~Awaiting For Approval", Name = "Awaiting For Approval" }, new { ID = "2~Approved", Name = "Approved" }, new { ID = "3~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                                grid.Column("", header: "SelectedAssetStatus", format: @<text>@Html.DropDownList("Asset Type", new SelectList(new[] { new { ID = "1~Image", Name = "Image" }, new { ID = "2~Video", Name = "Video" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                                      //grid.Column("Upload_Title_Image", "ContentId"),

                                    @*grid.Column("", "Active / Inactive", format: @<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),*@
                                                grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)

                        @*grid.Column("", "Enable / Disable", format:@<text><input type="text" style="visibility:hidden" name="IDHidden" value="@item.id" /><input type="checkbox" id="chkActive" checked="@item.active" name="chkActive" onchange="window.location='@Url.Action("updateVideoChannelActiveDeactive", "Entertainment", new { id = @item.id, edid = @item.id })?chkactive=' + this.checked" /></text>),//
                            grid.Column("",header: "Approval", format: @<text>@Html.DropDownList("approvalStatus", new SelectList(new[] { new { ID = item.Approval + "~Awaiting", Name = "Awaiting For Approval" }, new { ID = item.Approval + "~Approved", Name = "Approved" }, new { ID = item.Approval + "~Rejected", Name = "Rejected" } }, "ID", "Name"), new { onchange = "this.form.submit()" })</text>),
                            grid.Column("Content_Id", "ContentId"),
                            grid.Column("", header: "Action", format: @<text>@Html.DropDownList("basicOps", new SelectList(new[] { new { ID = item.id + "~Edit", Name = "Edit" }, new { ID = item.id + "~Delete", Name = "Delete" } }, "ID", "Name"), "Action", new { onchange = "this.form.submit()" })</text>)*@

)
                                                                                                                                                                                                                                                                   );

                    }
                    else
                    {
                        <p>No Data Found</p>
                    }

                    @*<table>
                            <tr>
                                <th style="width:15%;"><a href="#">Title</a></th>
                                <th style="width:50%;"><a href="#">Diabetes Symptoms Description</a></th>
                                <th style="width:15%;">Active / Inactive </th>
                                <th style="width:10%;">Approval</th>
                                <th class="alright" style="width:10%;">Action</th>

                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter">@Html.CheckBoxFor(m => m.Loremipsumdolor, new { @id = "Loremipsumdolor" })</td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>

                        </table>*@

                    @*<table>
                            <tr>
                                <th style="width:15%;"><a href="#">Title</a></th>
                                <th style="width:50%;"><a href="#">Hyper Tension Symptoms Description</a></th>
                                <th style="width:15%;">Active / Inactive </th>
                                <th style="width:10%;">Approval</th>
                                <th class="alright" style="width:10%;">Action</th>

                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter"><input type="checkbox" /></td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter"><input type="checkbox" /></td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter"><input type="checkbox" /></td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor </td>
                                <td> Lorem ipsum dolor sit amet</td>
                                <td class="alcenter"><input type="checkbox" /></td>
                                <td>
                                    <select class="action">
                                        <option>Awaiting for approval</option>
                                        <option>Approved</option>
                                        <option>Rejected</option>
                                    </select>
                                </td>

                                <td class="alright">
                                    <select class="action">
                                        <option>Action</option>
                                        <option>View</option>
                                        <option>Edit</option>
                                        <option>Delete</option>
                                    </select>
                                </td>
                            </tr>

                        </table>*@
                </div>
            }
        </div>
    </div>
</div>
